<?xml version="1.0" encoding="utf-8"?>
<mujoco xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="franka_robot"
                 params="arm_id
                         joint_limits
                         kinematics
                         accelerometer_config:=none
                         inertials
                         dynamics
                         xyz:='0 0 0'
                         rpy:='0 0 0'
                         xyz_ee:='0 0 0'
                         rpy_ee:='0 0 0'
                         tcp_xyz:='0 0 0'
                         tcp_rpy:='0 0 0'
                         hand:=true
                         ee_id:=none
                         special_connection:=''
                         no_prefix:=false
                         arm_prefix:=''
                         connected_to:='base'
                         link0_vis_mesh_indices:='[0]'
                         link1_vis_mesh_indices:='[0]'
                         link2_vis_mesh_indices:='[0]'
                         link3_vis_mesh_indices:='[0]'
                         link4_vis_mesh_indices:='[0]'
                         link5_vis_mesh_indices:='[0]'
                         link6_vis_mesh_indices:='[0]'
                         link7_vis_mesh_indices:='[0]'
                         hand_vis_mesh_indices:='[0]'
                         finger_vis_mesh_indices:='[0]'
                         ee_vis_mesh_indices:='[0]'
                         link0_vis_mesh_materials:='[]'
                         link1_vis_mesh_materials:='[]'
                         link2_vis_mesh_materials:='[]'
                         link3_vis_mesh_materials:='[]'
                         link4_vis_mesh_materials:='[]'
                         link5_vis_mesh_materials:='[]'
                         link6_vis_mesh_materials:='[]'
                         link7_vis_mesh_materials:='[]'
                         hand_vis_mesh_materials:='[]'
                         finger_vis_mesh_materials:='[]'
                         ee_vis_mesh_materials:='[]'">

        <xacro:franka_arm
            arm_id="${arm_id}"
            arm_prefix="${arm_prefix}"
            no_prefix="${no_prefix}"
            connected_to="${connected_to}"
            xyz="${xyz}"
            rpy="${rpy}"
            joint_limits="${joint_limits}"
            kinematics="${kinematics}"
            accelerometer_config="${accelerometer_config}"
            inertials="${inertials}"
            dynamics="${dynamics}"
            link0_vis_mesh_indices="${link0_vis_mesh_indices}"
            link1_vis_mesh_indices="${link1_vis_mesh_indices}"
            link2_vis_mesh_indices="${link2_vis_mesh_indices}"
            link3_vis_mesh_indices="${link3_vis_mesh_indices}"
            link4_vis_mesh_indices="${link4_vis_mesh_indices}"
            link5_vis_mesh_indices="${link5_vis_mesh_indices}"
            link6_vis_mesh_indices="${link6_vis_mesh_indices}"
            link7_vis_mesh_indices="${link7_vis_mesh_indices}"
            link0_vis_mesh_materials="${link0_vis_mesh_materials}"
            link1_vis_mesh_materials="${link1_vis_mesh_materials}"
            link2_vis_mesh_materials="${link2_vis_mesh_materials}"
            link3_vis_mesh_materials="${link3_vis_mesh_materials}"
            link4_vis_mesh_materials="${link4_vis_mesh_materials}"
            link5_vis_mesh_materials="${link5_vis_mesh_materials}"
            link6_vis_mesh_materials="${link6_vis_mesh_materials}"
            link7_vis_mesh_materials="${link7_vis_mesh_materials}">
            <ee_body>
                <xacro:if value="${hand and ee_id == 'franka_hand'}">
                    <xacro:franka_hand
                        arm_id="${arm_id}"
                        arm_prefix="${arm_prefix}"
                        no_prefix="${no_prefix}"
                        ee_inertials="${xacro.load_yaml('$(find franka_description)/mjcf/end_effectors/' + ee_id + '/inertials.yaml')}"
                        xyz_ee="${xyz_ee}"
                        rpy_ee="${rpy_ee}"
                        tcp_xyz="${tcp_xyz}"
                        tcp_rpy="${tcp_rpy}"
                        hand_vis_mesh_indices="${hand_vis_mesh_indices}"
                        finger_vis_mesh_indices="${finger_vis_mesh_indices}"
                        hand_vis_mesh_materials="${hand_vis_mesh_materials}"
                        finger_vis_mesh_materials="${finger_vis_mesh_materials}" />
                </xacro:if>
                <!-- generic single-link EE -->
                <xacro:if value="${hand and ee_id != 'none' and ee_id != 'franka_hand'}">
                    <xacro:ee_with_one_link
                        arm_id="${arm_id}"
                        arm_prefix="${arm_prefix}"
                        ee_id="${ee_id}"
                        ee_inertials="${xacro.load_yaml('$(find franka_description)/mjcf/end_effectors/' + ee_id + '/inertials.yaml')}"
                        xyz_ee="${xyz_ee}"
                        rpy_ee="${rpy_ee}"
                        tcp_xyz="${tcp_xyz}"
                        tcp_rpy="${tcp_rpy}"
                        ee_vis_mesh_indices="${ee_vis_mesh_indices}"
                        ee_vis_mesh_materials="${ee_vis_mesh_materials}" />
                </xacro:if>
            </ee_body>
        </xacro:franka_arm>

    </xacro:macro>

</mujoco>